body  {
  width: 100vw;
  height: 100hv;
  
  display: flex;
  justify-content: center;
  align-items: center;
margin: 0;
background-color: #ccc;
}
#game-board {
    background-color: hsl(0, 0%, 14%);
    width: 80vmin;
    height: 80vmin;
}